.footer {
  font-family: sans-serif;
  text-align: center;
  /*width: 60%;*/
  padding: 10px 0 10px 0;
  color: white;
  margin: auto;
  margin-top: 70px;
  background-color: gray;
}

.center {
  text-align: center;
}

.pure-menu-heading {
  zoom: 3 !important;
}

svg[bar-chart] {
  height: 70px;
  width: 300px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 1em;
}

svg[bar-chart] .bar {
  fill: #ccc;
}
