<section class="about">
  <h1>Trrnts</h1>
  <h3><em>Trrnts</em> is the front page for the BitTorrent network.</h3>
  <p>The BitTorrent network is alive, an no one can take it down. In spite of a slew of scare tactics, fines, and prison sentences, peoples' drive to share and communicate freely, combined with distributed and decentralized technologies like BitTorrent and Distributed Hash table protocols, have led to an ever increasing growth in world-wide pirating and global file sharing.</p>
  <p><em>Trrnts</em> supports forms of communication and technology that are global, lateral, participatory and free. We encourage you to learn more about how the BitTorrent network works, and become more aware of the active global dialogue that grows every day, and it build into the fabric of the internet.</p>
  <p>Check out our listings on the most popular torrents in the world, and scope out our maps to see what is happening where.</p>
  <p>Fork or make a contribution on <a href="https://github.com/Trrnts/trrnts/" target="_blank"><em>GitHub</em></a>.</p>
  <hr>
  <p class="footer">Abyssal Fish logo designed by <a href="http://www.thenounproject.com/leslie.ranchon">Leslie Ranchon</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p>
</section>
