<header class="pure-g">
  <div class="pure-u-1 pure-u-md-1-5">
    <a ui-sref=".top" class="logo">Trrnts</a>
  </div>
  <nav class="pure-u-1 pure-u-md-4-5">
    <a ui-sref=".top">Top</a>
    <span>·</span>
    <a ui-sref=".latest">Latest</a>
    <span>·</span>
    <a ui-sref=".stats">Stats</a>
    <span>·</span>
    <a ui-sref=".submit">Submit a magnet</a>
    <span>·</span>
    <a ui-sref=".about">About this site</a>
  </nav>
</header>



<!-- Add all the subviews you need, this is the order of how they will appear -->

<!-- <div ui-view="searchMagnets"></div> -->

<!-- This div will be filled up with whatever child view is selected -->
<div ui-view></div>

<!-- <div ui-view="submitMagnet"></div> -->
