<section class="top pure-g" ng-controller="TopMagnetLinksController">
  <header class="pure-u-1">
    <h2>Top submissions</h2>
  </header>
  <article class="pure-u-1 pure-u-md-1-2" ng-repeat="magnet in top">
    <h3><a href="{{magnet.magnetURI}}">{{magnet.name}}</a></h3>
    <svg bar-chart bar-chart-height="70"></svg>
    <small class="ago">{{magnet.createdAt | agoFilter}}</small>
  </article>
  <nav class="pure-u-1">
    <button ng-disabled="!hasPrev()" ng-click="prev()">← Previous</button>
    <button ng-disabled="!hasNext()" ng-click="next()">Next →</button>
  </nav>
</section>
