<section class="top" ng-controller="TopMagnetLinksController">
  <header>
    <h2>Top submissions</h2>
  </header>
  <div infinite-scroll="loadMore()" infinite-scroll-distance="2">
    <article ng-repeat="magnet in top" class="pure-g">
      <h1 class="pure-u-1-8 score">
        23445
      </h1>
      <main class="pure-u-7-8">
        <h3>
          <a href="{{magnet.magnetURI}}">{{magnet.name}}</a>
        </h3>
        <small class="ago">submitted {{magnet.createdAt | agoFilter}}</small>
        <!-- <svg bar-chart bar-chart-height="70"></svg> -->
      </main>
    </article>
  </div>
</section>
